* {
    box-sizing: border-box;
  }
  
  body {
    display: flexbox;
    background-color: orange;
    color: white;
    align-content: space-around;
  }
  
  h1 {
    margin: 3%;
    text-align: center;
  }
  
  h3 {
    display: flexbox;
    width: 220px;
    border: black 1px dashed;
    text-align: center;
    margin-top: 4%;
  }
  
  section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: black 1px dotted;
  }

  .deck-cards {
    display: block;
    width: 220px;
    height: 290px;
    justify-self: center;
    color: black;
    text-align: center;
 
  }
  
img {
    display: flex;
    object-fit: cover;
    object-position: center;
    width: 210px;
    height: 280px;
    margin: 0;
    box-shadow: 0px 0px 20px 20px purple;
    border-radius: 4%;  
}

.playerA {
    border: #00BCD4 10px solid;
}

.playerB {
    border: #13ac31 10px solid;
    border-radius: 4%;
}

.card-back {
    overflow-x: scroll;
    overflow: scroll;
    width: 210px;
 
}

.card-front {
    height: 278px;
    padding: 15px;
}



  /* *SPACING- deckCards(top)* */
  #deck-cards {
    margin-top: 15%;
  }
  
