* {
    box-sizing: border-box;
    border-radius: 4%;
    text-align: center;
  }

body {
    display: block;
    color: white;
    background-image: url("./assets/watercolor-large.jpg");
    background-repeat: no-repeat;
    background-color: rgb(42, 55, 155);
} 

.h1-wrapper {
    position: relative;
    height: 100px;
    width: auto;
    margin: 10px;
    top: 1.5em;
}

h1.ontop {
    position: relative;
    margin: 10px;
    top: 1.5em;
}

h1 {
    margin: 3%;
    font-size: 30px;
    border: rgb(42, 55, 155, 0.729) 4px solid;
    padding: 2%;
    width: auto;
    background-color: rgba(42, 55, 155, 0.508);
}

h3, h4 {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: auto;
    margin: 4%;
    padding: 1%;
}

.h3-A { 
    justify-content: center;
    justify-self: flex-start;
    background-color: rgba(212, 0, 67, 0.3);
    border: rgba(212, 0, 67, 0.69) 3px solid;
    margin-right: 23%;
    margin-left: 10%
}

.h3-B {
    justify-content: center;
    justify-self: flex-end;
    background-color: rgba(212, 0, 67, 0.3);
    border: rgba(212, 0, 67, 0.69) 3px solid;
    margin-right: 10%;
    margin-left: 20%;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
    /* top: .5em; */
}

#deck-cards {
    top: 5em;
    margin-top: 4%;
}

.deck-cards {
    display: flex;
    width: 220px;
    height: 290px;
    justify-content: center;
}

div > img {
    display: flex;
    object-fit: cover;
    object-position: center;
    width: 210px;
    height: 280px;
    margin: 0;
    padding: 11px;
}

.playerA {
    border: rgba(176, 1, 56, 0.947) 20px solid;
}

.middle-pile {
    border: rgba(42, 55, 155, .95) 20px solid;
}

.playerB {
    border: rgb(176, 1, 56, 0.947) 20px solid;
}

img.playerTurnA {
    background-color: gold;
}

#win-section {
    top: 5em;
    margin-bottom: 7.5em;
}

.footer {
    margin-top: 0;
    position: inherit;
    display: block;
    justify-content: flex-start; 
    top: .5em;
    height: 100%
}

.rules {
    display: flex;
    justify-content: center;
}

.button-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-left: 1%;
}

button {
    width: auto;
    height: auto;
    color: rgba(42, 55, 155, .95);
    border: rgba(42, 55, 155, .95) 3px solid;
    background-color: rgba(42, 55, 155, .2);
}

section > img {
    display: flex;
    object-position: center;
    width: auto;
    height: 750px;
    margin: 0;
}

.hidden {
    display: none;
}


/* 
.win-section {
    display: flex;
    justify-items: self-end;
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
} 
*/
/* *SPACING- deckCards(top)* */

/* #deck-cards {
    margin-top: 6%;
} */
  
