* {
    box-sizing: border-box;
    border-radius: 4%;
    text-align: center;
  }
  
body {
    color: white;
    max-width: 1200px;
    min-width: 750px;
}

/* FIREFOX  */
body {
    height: 100vh;
    max-height: 775px;
}

.background-img {
   opacity: .9;
}

h1.ontop {
    position: relative;
    margin: 10px;
    top: 1.5em;
}

h1 {
    margin: 3%;
    font-size: 30px;
    border: rgb(42, 55, 155, 0.729) 4px solid;
    padding: 2%;
    width: auto;
    background-color: rgba(42, 55, 155, 0.508);
}

h3 {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: auto;
    margin: 4%;
    padding: 1%;
}


.h3-A { 
    justify-content: center;
    justify-self: flex-start;
    background-color: rgba(212, 0, 67, 0.3);
    border: rgba(212, 0, 67, 0.69) 3px solid;
    margin-right: 23%;
    margin-left: 5%
}

.h3-B {
    justify-content: center;
    justify-self: flex-end;
    background-color: rgba(212, 0, 67, 0.3);
    border: rgba(212, 0, 67, 0.69) 3px solid;
    margin-right: 33px;
    margin-left: 20%;
}
  
section {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
    top: 6em;
}

.deck-cards {
    display: flex;
    width: 220px;
    height: 290px;
    justify-content: center;
    color: black;
}
  
img {
    display: flex;
    object-fit: cover;
    object-position: center;
    width: 210px;
    height: 280px;
    margin: 0;
    padding: 11px;
}
img.playerTurnA {
    background-color: gold;
}


/* img.playerTurnB {
    background-color: gold;
} */

.playerA {
    border: rgba(176, 1, 56, 0.947) 20px solid;
}

.middle-pile {
    border: rgba(42, 55, 155, .95) 20px solid;

}

.playerB {
    border: rgb(176, 1, 56, 0.947) 20px solid;
}

.hidden {
    display: none;
}



.win-section {
    display: flex;
    justify-items: self-end;
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
}
/* *SPACING- deckCards(top)* */


#deck-cards {
    margin-top: 8%;
}
  
