* {
    box-sizing: border-box;
    border-radius: 4%;
    text-align: center;
  }
  
body {
    color: white;
}

.background-img {
   opacity: .9;
}

h1.ontop {
    position: relative;
    margin: 10px;
    top: 2.4em;
}

h1 {
    margin: 3%;
    font-size: 30px;
    border: rgb(42, 55, 155, 0.729) 4px solid;
    padding: 2%;
    width: auto;
    background-color: rgba(42, 55, 155, 0.508);
}

h3 {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 88px;
    margin: 4%;
    padding: 1%;
    background-color: rgba(212, 0, 67, 0.3);
    border: rgba(212, 0, 67, 0.69) 3px solid;

}

.h3-A { 
    justify-content: center;
    margin-right: 21%;
    /* justify-self: flex-start; */
}

.h3-B {
    justify-content: center;
    margin-left: 21%;
    /* justify-self: flex-end; */
}
  
section {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: black 1px dotted;
    padding: 5px;
    top: 6em;
}

.deck-cards {
    display: flex;
    width: 220px;
    height: 290px;
    justify-content: center;
    color: black;
    /* border: transparent 20px solid; */
    border: purple 25px solid;
    /* border-left-width: 35px; */
    /* padding: 11px; */
    /* margin-left: 5px; */
}
#deck-card-pA {
    border-right-width: 35px;
}

#deck-card-pB {

}
  
img {
    display: flex;
    object-fit: cover;
    object-position: center;
    width: 210px;
    height: 280px;
    margin: 0;
    padding: 11px;
}

.playerA {
    border: rgba(212, 0, 67, 0.729) 20px solid;
}

.middle-pile {
    border: rgba(42, 55, 155, .95) 20px solid;

}

.playerB {
    border: rgba(212, 0, 67, 0.700) 20px solid;
}

.playerTurn {
    border: rgba(212, 0, 67, 0.729) 20px solid;
 
}

/* 
.card-back {
    /* overflow-x: scroll; */
    /* overflow: scroll; */
    /* width: 210px;
    height: 280px;
    padding: 15px;
} */ */

/* .card-front { */
    /* height: 280px;

    width: 210px;
} */

.win-section {
    display: flex;
    justify-items: self-end;
    position: relative;
}
/* *SPACING- deckCards(top)* */


#deck-cards {
    margin-top: 15%;
}
  
